<div>
    <%= form_for :weather, url: weather_path do |form| %>
        <%= form.label :address %>
        <%= form.text_field :address %>
        <%= form.submit 'Submit' %>
    <% end %>
</div>

<turbo-frame id="forecast">
</turbo-frame>
