@keyframes appear-then-fade {

    0%,
    100% {
        opacity: 0;
    }

    5%,
    60% {
        opacity: 1;
    }
}

body {
    background-color: #f0f0f0;
}

.panel {
    border: 1px solid black;
    padding: 0.01em 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.section {
    margin-top: 32px;
}

.help-text {
    color: gray;
    font-style: italic;
}

.flash {
    display: flex;
    inset-block-start: 1rem;
    inset-inline-start: 50%;
    justify-content: center;
    position: fixed;
    text-align: center;
    z-index: 100;
    transform: translate(-50%);

    [data-turbo-preview] & {
        display: none;
    }
}

.flash__inner {
    align-items: center;
    animation: appear-then-fade 5s 300ms both;
    background: black;
    border-radius: 2em;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.5rem 1rem;
}

dt {
    font-weight: bold;
}
